:root {
    --main-blue:blue;
    --back-blue:rgb(232, 241, 255);
    --strands-blue: #aedfee;
    --strands-yellow:#f1c40f;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    width: fill;
    margin: 0;
    padding: 0;
    background-color: var(--back-blue);
    height: 100%;
}

#left_bar {
    width:20%;
    border-left: 5px solid black;
}

#right_bar {
    width: fill;
    padding:20px;
    flex-shrink: 0;
    flex-grow: 1;
}

#title {
    text-align: center;
}

#options_bar {
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: fit-content; */
}

#options_bar > div {
    border: 5px solid black;
    background-color: var(--back-blue);
    border-radius: 25px;
    padding:15px;
    color: black;
    margin:5px;
    user-select: none;
    font-size: 15px;
}

#options_bar > div.selected_option {
    background-color: black;
    color:white;
}

#options_bar > div:hover {
    cursor: pointer;
}

#board {
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    width: 324px;
    display: grid;
    user-select: none;
}

#board > div {
    width: 40px;
    height: 40px;
    font-size: 26px;
    border-radius: 50%;
    margin:2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board p {
    margin: 0;
    padding: 0;
}

.board-used {
    background-color: var(--strands-blue);
}

.board-hint {
    outline: 5px dotted var(--strands-blue);
}

/* .board-regular {
    border-radius: 25px;
} */

#menu-title {
    border-bottom: 5px solid black;
    margin:0px;
    padding:15px;
    text-align: center;
}

#edit-menu > textarea {
    resize: none;
    font-size: 20px;
    width: 100%;
    padding: 0px;
}

#edit-menu {
    margin:10px;
}

#edit-menu > p {
    font-size: 15px;
    text-align: center;
}

#edit-menu > * {

    display: block;

    margin-left: auto;
    margin-right: auto;

}

#words-menu {
    overflow-y: scroll;
    height: 100%;
}

.delete-word-btn {
    display: flex;
    justify-content: center;
}


.delete-word-btn > p {
    padding:15px;
    font-size: 15px;
    border:5px solid black;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    user-select: none;
}

#delete-word-btn > p:hover {
    cursor: pointer;
}

#delete-word-btn > p:active {
    background-color: black;
    color:white;
}



#words-list, #hint-menu {
    /* overflow-y: scroll;
    height: 100%; */
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

#words-list > p, #hint-menu > p {
    text-align: center;
    margin:10px;
    font-size: 20px;
}

#words-list > p:hover {
    cursor: pointer;
}

.selected-word {

    /* color:var(--strands-blue); */
    padding:5px;
    background-color: var(--strands-blue);

}

#cover {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--strands-blue);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-align: center;
    user-select: none;
}

.color-2 {
    background-color: var(--strands-yellow);
}

.color-3 {
    background-color: rgb(93, 180, 93);
}

.color-4 {
    background-color: rgb(141, 93, 180);
}

.color-5 {
    background-color: rgb(180, 93, 93);
}

.color-6 {
    background-color: rgb(93, 180, 154);
}

.color-7 {
    background-color: rgb(211, 176, 59);
}

.color-8 {
    background-color: rgb(161, 161, 161);
}

.color-9 {
    background-color: rgb(216, 255, 124);
}

#solutions-menu {
    text-align: center;
    font-size: 20px;
    overflow-y: scroll;
    height: 100%;
}

#solutions-menu > div {
    border:5px solid black;
    padding:10px;
    margin:10px;
    text-align: center;
    user-select: none;
}

#solutions-menu > div:hover {
    cursor: pointer;
}

#solutions-menu > div.selected-solution {
    border:5px solid var(--strands-blue);
}

.hover:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {

    #right_bar {
        flex-shrink: 1;
        flex-grow: 0;
    }

    #left_bar {
        width: auto;
        border-left: none;
        border-top: 5px solid black;
    }

    body {
        display: block;
    }

    #board > div {
        width: 30px;
        height: 30px;
        font-size: 25px;
        border-radius: 50%;
        margin:2px;
    }

}

#board > svg {
    z-index: -1;
    position: absolute;
}

svg > line {
    stroke-width: 10px;
    stroke:var(--strands-blue);
}